.blog-list {
  .blog-orther {
    .heading-block {
      margin-bottom: 60px;

      .title {
        font-weight: $fw-b;
      }

      .desc {
        margin-top: 5px;
        max-width: 863px;
        line-height: 40px;
        letter-spacing: 0.3px;
      }
    }
  }

  .cta {
    margin-top: 0;
  }
}

.blog-highlight {
  padding: 189px 0 120px;
  background: $blue;

  .heading-block {
    margin-bottom: 54px;
    
    .badge {
      margin-bottom: 5px;
    }

    .title {
      line-height: 60px;
      letter-spacing: 0.6px;
      font-weight: $fw-b;
    }

    .desc {
      margin-top: 5px;
      max-width: 863px;
      letter-spacing: 0.3px;
      color: #ededed;
    }
  }

  .blog-highlight-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 74px;
    row-gap: 63px;
  }

  .blog-item {
    &:first-child {
      grid-row: span 2;
      grid-column: span 2;

      .image {
        margin-bottom: 27px;
      }

      .content {
        .title {
          font-size: 28px;
          line-height: 44px;
          font-weight: $fw-b;
          letter-spacing: 0;
        }
      }
    }

    .image {
      margin-bottom: 20px;
    }

    .content {
      .date {
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 3.3px;
        margin-bottom: 5px;
      }

      .title {
        font-weight: $fw-r;
        letter-spacing: 0.27px;
        padding-right: 12px;
      }
    }
  }
}

.blog-orther {
  padding: 110px 0 145px;

  .blog-orther-list {
    position: relative;
    .slider-button {
      top: 35%;
    }
    .slider-button-prev {
      left: -27px;
    }
    .slider-button-next {
      right: -27px;
    }
  }

  .blog-item {
    .image {
      margin-bottom: 20px;
    }

    .content {
      .date {
        margin-bottom: 5px;
        font-size: 11px;
        letter-spacing: 3.3px;
      }

      .title {
        padding-right: 12px;
        font-weight: $fw-r;
        letter-spacing: 0.27px;
      }
    }
  }
}

//**Responsive Blog List Page**//

@include desktop {
  .blog-highlight {
    .blog-highlight-list {
      column-gap: 48px;
      row-gap: 48px;
    }
  }
}

@include tablet {
  .blog-highlight {
    .blog-highlight-list {
      column-gap: 24px;
      row-gap: 36px;
    }
  }
}

@include landscape-phone {

  .blog-highlight {
    padding: 160px 0 36px;

    .blog-highlight-list {
      grid-template-columns: 1fr 1fr;
    }

    .blog-item {
      &:first-child {
        .content {
          .title {
            font-size: 20px;
            line-height: 32px;
          }
        }
      }

      &:nth-child(6) {
        display: none;
      }
    }
  }

  .blog-orther {
    .blog-orther-list {
      .slider-button {
        display: none;
      }
    }
  }
}

@include extra-mobile {
  .blog-highlight {
    .blog-highlight-list {
      column-gap: 12px;
      row-gap: 30px;
    }
  }

  .blog-list {
    .cta {
      padding-top: 52px;
    }
  }
}

@include mobile {
  .blog-list {
    position: relative;
    
    &:before {    
      content: "";
      position: absolute;
      background: #1C0B81;
      border-radius: 50%;
      width: 399px;
      height: 399px;
      top: 0;
      left: 0;
      transform: translate(-40%, -62%);
      z-index: 2;
    }

    .blog-orther {
      .heading-block {
        margin-bottom: 25px;

        .title {
          line-height: 34px;
          letter-spacing: 0.33px;
          font-weight: $fw-m;
        }

        .desc {
          margin-top: 9px;
          line-height: 32px;
          font-weight: $fw-el;
          letter-spacing: 0.21px;
        }
      }

      .blog-item {
        .image {
          border-radius: 10px;
        }

        .content {
          .date {
            font-size: 10px;
            font-weight: $fw-el;
            line-height: 19px;
            letter-spacing: 2px;
          }

          .title {
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.21px;
          }
        }
      }
    }
  }
  

  .blog-highlight {
    padding: 130px 0 36px;

    .heading-block {
      margin-bottom: 22px; 

      .title {
        line-height: 34px;
        letter-spacing: 0.33px;
      }

      .desc {
        letter-spacing: 0.21px;
      }
    }

    .blog-item {
      &:first-child {
        .image {
          margin-bottom: 43px;
        }

        .content {
          .title {
            font-weight: $fw-m;
          }
        }
      }

      .image {
        border-radius: 10px;
        margin-bottom: 16px;
      }

      .content {
        .title {
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.21px;
        }
      }
    }
  }

  .blog-orther {
    .container {
      padding: 0;
    }

    .heading-block {
      padding: 0 20px;
    }

    .blog-orther-list {
      padding-left: 20px;
    }
  }
}
