.contact-us {
  .cta {
    .heading-block {
      .title {
        font-size: 40px;
        letter-spacing: 0.6px;
      }

      .desc {
        line-height: 30px; 
        letter-spacing: 0.27px;

      }

      .button {
        padding: 20px 49px;
        line-height: 24px;
        font-weight: $fw-m;
      }
    }

    .decor-el {
      top: 50%;
      
      &:nth-child(2) {
        top: 60%;
      }

      &:nth-child(3) {
        top: 30%;
      }
    }
  }
}

.contact-form {
  margin: 85px 0 172px;

  .heading-block {
    margin-bottom: 65px;

    .title {
      font-weight: $fw-sb;
    }
  }
}

.contact-form-row {
  display: flex;
  row-gap: 20px;
  column-gap: 18px;
  flex-wrap: wrap;

  .contact-form-line {
    position: relative;
    flex: 0 0 auto;
    width: calc(50% - 9px);

    input,
    textarea,
    select {
      width: 100%;
      border-radius: 3px;
      border: 0.5px solid #8278bd;
      padding: 14px 30px 14px 20px;
      color: #fff;
      background: transparent;
      font-size: 14px;
      font-weight: $fw-el;
      line-height: normal;
      letter-spacing: 0.21px;
      -webkit-appearance: none;
      appearance: none;

      &::placeholder {
        color: #fff;
        font-size: 14px;
        font-weight: 200;
        line-height: normal;
        letter-spacing: 0.21px;
      }

      &:focus {
        border: 1px solid $yellow;
        outline: none;
      }
    }

    input[type="number"] {
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        appearance: none;
      }
    }

    select {
      appearance: none;
    }

    .input-select {
      label {
        position: absolute;
        top: 9px;
        left: 20px;
        color: #fff;
        font-size: 10px;
        font-weight: $fw-el;
        line-height: normal;
        letter-spacing: 0.15px;
      }

      select {
        background: url("../images/icons/arrow-select.svg") no-repeat center right 23px;
        padding: 23px 30px 7px 20px;
        color: #fff;
        font-weight: $fw-r;

        option {
          color: #000;
        }
      }
    }

    textarea {
      height: 111px;
      resize: none;
    }

    .clear-input {
      display: none;
    }

    &:focus-within {
      .clear-input {
        display: inline-flex;
      }
    }

    &.input-focus {
      .clear-input {
        display: inline-flex;

        img {
          filter: brightness(0) saturate(100%) invert(59%) sepia(98%)
            saturate(704%) hue-rotate(359deg) brightness(97%) contrast(98%);
        }
      }
    }
  }

  .contact-form-line-full {
    width: 100%;

    input {
      accent-color: transparent;
    }
  }
}

.clear-input {
  position: absolute;
  top: 50%;
  cursor: pointer;
  right: 20px;
  transform: translate(50%, -50%);
  width: 16px;
  height: 16px;
  display: flex;
  overflow: hidden;
}

.contact-form-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.contact-form-main {
  flex: 0 0 50%;
  max-width: 50%;

  .contact-form-required {
    color: #fff;
    font-size: 12px;
    font-weight: $fw-el;
    line-height: 25px;
    letter-spacing: 0.18px;
    text-align: right;
    margin-bottom: 25px;
  }

  form {
    .contact-form-row {
      margin-bottom: 42px;
    }

    .button {
      width: 100%;
      font-weight: $fw-m;
      padding: 20px;
      letter-spacing: 4.8px;
      font-size: 16px;
      line-height: normal;
    }
  }
}

.contact-info {
  max-width: 26.5%;
  flex: 0 0 26.5%;
  margin-top: 25px;

  .contact-info-item {
    margin-bottom: 50px;

    .contact-info-city {
      color: #fff;
      font-size: 14px;
      font-weight: $fw-r;
      line-height: normal;
      letter-spacing: 0.21px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .contact-info-address,
    a {
      display: block;
      color: #fff;
      font-size: 14px;
      font-weight: 200;
      line-height: 24px;
      letter-spacing: 0.21px;
      margin-bottom: 10px;
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.contact-us {
  .intro {
    aspect-ratio: 1600/830;
    
    .intro-content {
      padding: 12% 0 20% 0;
      margin-top: -50px;

      h2 {
        letter-spacing: 0.69px;
        font-weight: $fw-sb;
        line-height: normal;
      }

      p {
        line-height: 40px;
        letter-spacing: 0.3px;
        max-width: 737px;
        color: #e3e3e3;
      }
    }

    .intro-bg {
      img {
        height: 100%;
        object-fit: cover;
        background: #170a64;
      }
    }
  }

  .cta {
    position: relative;
    background-size: 50% 100%;

    .heading-block {
      position: relative;
      z-index: 3;

      .button-wrapper {
        display: inline-flex;
      }
    }

    .cta-wrapper {
      max-width: calc(50% - 40px);
    }

    .cta-map-iframe {
      position: absolute;
      height: 100%;
      width: 50%;
      top: 0;
      right: 0;

      iframe {
        height: 100%;
      }
    }

    .cta-image {
      position: relative;
      z-index: 2;
    }

    .decor-el {
      z-index: 2;
    }
  }
}


//**Responsive Contact Us Page**//

@include desktop {
  .contact-us {
    .intro {
      .intro-content {
        padding: 50px 0 0;
        margin-top: 130px;
        height: calc(100% - 130px);
        justify-content: start;
      }
    }
  }
}

@include desktop {
  .contact-us {    
    .intro {
      aspect-ratio: 12/7;
    }

    .cta {
      background-size: 100%;
      margin-top: 0;
      padding-top: 0;
      overflow: hidden;

      .cta-map-iframe {
        position: relative;
        width: 100%;
        height: 450px;
        margin-bottom: 52px;
      }

      .cta-wrapper {
        max-width: 100%;
        text-align: center;
      }

      .cta-image {
        margin-top: 40px;
      }

      .decor-el {
        &:nth-child(1) {
          top: initial;
          bottom: 260px;
          left: -35px;
        }

        &:nth-child(2) {
          top: initial;
          bottom: 230px;
          left: 35px;
        }

        &:nth-child(3) {
          top: 40%;
          right: -35px;
        }
      }
    }
  }
}

@include tablet {
  .contact-us {
    .intro {
      aspect-ratio: 4/3;

      .intro-content {
        h2 {

        }
      }
    }
  }

  .contact-form {
    margin: 85px 0 0px;
  }
  .contact-form-wrap {
    flex-wrap: wrap;
  }

  .contact-form-main {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .contact-info {
    max-width: 100%;
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 60px;
    margin-top: 0;

    .contact-info-item {
      flex: 1;
    }
  }

  .contact-map {
    flex-wrap: wrap-reverse;

    .contact-map-iframe {
      flex: 0 0 100%;
      max-width: 100%;
      aspect-ratio: 6/4;
    }
  }
}

@include landscape-phone {
  .contact-us {
    .intro {
      .intro-content {
        h2 {
          font-size: 22px;
          margin-bottom: 5px;
        }

        p {
          font-size: 14px;
          line-height: 32px;
          letter-spacing: 0.21px;

        }
      }
    }
  }

  .contact-map {
    .contact-map-content {
      padding: 50px calc(50vw - 258px);
    }
  }

  .contact-form {
    .heading-block {
      margin-bottom: 32px;
    }
  }
}

@include extra-mobile {
  .contact-us {
    .intro {
      aspect-ratio: 39/40;

      .intro-content {
        margin-top: 120px;
        height: calc(100% - 120px);
      }
    }

    .cta {
      .cta-map-iframe {
        aspect-ratio: 390/345;
        height: initial;
        margin-bottom: 0;
      }

      .heading-block {
        .title {
          font-size: 25px;
          line-height: 36px;
          letter-spacing: 0.375px;
          margin-bottom: 10px;
        }

        .desc {
          margin-top: 10px;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.21px;
        }

        .button-wrapper {
          margin-top: 24px;
        }

        .button {
          font-size: 12px;
          line-height: 24px;
          letter-spacing: 3.6px;
          padding: 10px 27px;
          min-width: 165px;
        }
      }

      .cta-wrapper {
        padding-top: 50px;
      }

      .decor-el {
        &:nth-child(1) {
          bottom: 15%;
        }

        &:nth-child(2) {
          bottom: 10%;
        }
      }
    }
  }

  .contact-form {
    position: relative;
    margin: 24px 0 0px;
    z-index: 2 ;

    .heading-block {
      .title {
        letter-spacing: 0.33px;
        font-weight: $fw-m;
      }
    }
  }

  .contact-map {
    .contact-map-content {
      padding: 50px 12px;
    }

    .contact-map-iframe {
      aspect-ratio: 390/345;
    }
  }

  .contact-info {
    .contact-info-item {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
     
      &:nth-child(2) {
        margin-bottom: 40px;
      }

      .contact-info-address {
        max-width: 307px;
        margin: 0 auto 10px;
      }
    }
  }
}

@include mobile {
  .contact-us {
    .intro {
      aspect-ratio: 39/48;
    }
  }
}

@include small-mobile {
  .contact-us {
    .intro {
      aspect-ratio: 39/48;
    }
  }

  .contact-form-row {
    .contact-form-line {
      width: 100%;
    }
  }
}
