// START INIT

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: $font-roboto;
  background-color: $blue-2;
}

main {
  overflow: hidden;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img,
video {
  width: 100%;
}

a {
  color: $white;
  text-decoration: none;
  &:hover {
    color: $white;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@include min-extra-desktop {
  .container {
    max-width: 1184px;
  }
  .testimonials {
    .container {
      max-width: 1260px;
    }
  }
}

.badge {
  padding: 0;
}

.heading-block {
  .badge {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.3em;
    font-weight: $fw-l;
    padding: 7px 20px;
    background-color: $pink;
    border-radius: 5px;
    display: block;
    width: fit-content;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .title {
    font-size: 40px;
    line-height: 47px;
    font-weight: $fw-b;
    color: $white;
    letter-spacing: 0.015em;
  }
  .desc {
    margin-top: 25px;
    font-size: 20px;
    line-height: 40px;
    font-weight: $fw-el;
    color: $white;
    letter-spacing: 0.3px;
  }
  &.heading-center {
    .badge {
      margin-left: auto;
      margin-right: auto;
    }
    .title {
      text-align: center;
    }
    .desc {
      max-width: 811px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.button {
  border-radius: 5px;
  letter-spacing: 0.3em;
  transition: all ease 0.5s;
  border: 1px solid transparent;
  outline: none;
  display: block;
  width: fit-content;
  text-align: center;
  text-transform: uppercase;
  &.button-w100 {
    width: 100%;
  }
  &.button-l {
    padding: 20px 30px;
    font-size: 16px;
    line-height: 19px;
    font-weight: $fw-m;
  }
  &.button-m {
    padding: 12px 20px;
    font-size: 12px;
    line-height: 14px;
    font-weight: $fw-m;
  }
  &.button-yellow {
    background-color: $yellow;
    color: $white;
    &:hover {
      background-color: $pink;
    }
  }
  &.button-outline {
    border-color: $white;
    background-color: transparent;
    color: $white;
    &:hover {
      background-color: $yellow;
      border-color: $yellow;
    }
  }
}

.decor-el {
  position: absolute;
  z-index: 0;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 45px;
  aspect-ratio: 1;
  border-radius: 500px;
  @include flex(center, center, unset);
  background-color: $white;
  transition: all ease 0.5s;
  img {
    transition: all ease 0.5s;
    width: 9px;
  }
  &:hover {
    background-color: $pink;
    img {
      filter: invert(1);
    }
  }
}

.image-border {
  width: 100%;
  position: relative;

  > img {
    border-radius: 20px 50px 20px 50px;
    border: 7px solid $white;
  }

  .decor-el {
    &:nth-child(1) {
      top: calc(-209px / 2);
      right: 0;
      animation: shaking ease-in-out 1s infinite alternate-reverse;
    }
    &:nth-child(2) {
      bottom: calc(-87px / 2);
      left: calc(-87px / 2);
    }
  }
}

.curve-bg {
  img {
    height: 100%;
  }
}

.quote {
  font-weight: $fw-l;
  color: $white;
  text-align: center;
  &.quote-m {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 61px;
    letter-spacing: 0.3px;
    font-weight: $fw-el;
  }
  &.quote-l {
    font-size: 40px;
    line-height: 70px;
    text-align: center;
    font-weight: $fw-el;
    letter-spacing: 0.6px;
  }
}

.bg-blue {
  background-color: $blue-2;
}

// END INIT

// START HEADER
#fhm-header {
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
  .header-wrapper {
    @include flex(space-between, end, 20px);
  }
  .topbar {
    @include flex(end, center, 16px);
    transform: translateY(15px);
    .info {
      @include flex(unset, center, 6px);
      .icon {
        width: 14px;
        aspect-ratio: 1;
        @include flex(center, center, unset);
      }
      .link {
        font-size: 12px;
        line-height: 15px;
        font-weight: $fw-el;
        letter-spacing: 0.015em;
      }
    }
  }
  .nav-wrapper {
    @include flex(unset, start, 30px);
    width: fit-content;
    position: relative;
    width: 100%;
  }
  .nav {
    .list {
      @include flex(space-between, center, 80px);
      width: 100%;
      .item {
        .link {
          font-size: 16px;
          line-height: 19px;
          text-transform: capitalize;
          transition: all ease 0.5s;
          position: relative;
          font-weight: $fw-l;

          &:hover {
            &::before {
              width: 100%;
            }
          }
          &::before {
            content: "";
            width: 0%;
            height: 1px;
            background-color: $white;
            position: absolute;
            bottom: -5px;
            left: 0;
            transition: all ease 0.5s;
          }
          position: relative;
          &:hover {
            &::before {
              width: 100%;
            }
          }
          &::before {
            content: "";
            width: 0%;
            height: 1px;
            background-color: $white;
            position: absolute;
            bottom: -5px;
            left: 0;
            transition: all ease 0.5s;
          }
        }
        &:last-child {
          .link {
            padding: 7px 20px;
            border-radius: 5px;
            background-color: $yellow;

            &::before {
              content: unset;
            }

            &:hover {
              background-color: $pink;
            }
          }
        }
      }
    }
    .button-open {
      outline: none;
      border: none;
      width: 18px;
      background-color: transparent;
      display: none;
    }
  }
  .nav-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(35deg, #9f0178 5.45%, #ff6911 100%);
    transform: translateX(100%);
    transition: all $cubic 1s;
    .decor-el {
      z-index: 0;
      &:nth-child(1) {
        right: -50px;
        width: 103px;
        bottom: 250px;
      }
      &:nth-child(2) {
        width: 79px;
        right: 47px;
        top: -27px;
      }
      &:nth-child(3) {
        left: -40px;
        width: 79px;
        bottom: 313px;
      }
    }
    .container {
      padding: 0 20px;
    }
    &.open {
      transform: translateX(0%);
    }

    &.close {
      transform: translateX(100%);
    }

    .heading {
      @include flex(space-between, end, unset);
      margin: 48px 0 42px;
    }
    .logo {
      max-width: 167px;
      width: 100%;
    }

    .nav {
      transition: all $cubic 0.75s;
      transition: all $cubic 0.75s;
      transform: translateX(-110%);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      .back-title {
        font-size: 20px;
        line-height: 1.25;
        font-weight: $fw-b;
        color: $white;
        margin-bottom: 34px;
        @include flex(unset, center, 25px);
      }
      &.nav-lv0.active {
        transform: translateX(0);
        & ~ .nav-lv1,
        & ~ .nav-lv2 {
          transform: translateX(110%);
        }
      }
      &.nav-lv1.active {
        transform: translateX(0);
        & ~ .nav-lv2 {
          transform: translateX(110%);
        }
      }

      &.nav-lv2.active {
        transform: translateX(0);
      }

      &.nav-lv1,
      &.nav-lv2 {
        .list {
          .item {
            padding: 10px 0;
            a {
              font-size: 16px;
              line-height: 27px;
              letter-spacing: 0.3px;
            }
          }
        }
      }

      .list {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 24px;
        width: 100%;
        .item {
          width: 100%;
          padding: 10px 0;
          @include flex(unset, center, 16px);
          .icon {
            width: 24px;
          }
          a {
            font-size: 20px;
            line-height: 23px;
            flex: 1;
            @include flex(space-between, center, unset);
            .icon {
              width: 12px;
              aspect-ratio: 1;
            }
          }
          &:last-child {
            width: 100%;

            a {
              width: 100%;
              text-align: center;
              padding: 0;
              background-color: transparent;
            }
          }
        }
      }
    }
    .bg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
    .button-close {
      outline: none;
      border: none;
      background-color: transparent;
      width: fit-content;
      aspect-ratio: 1;
      @include flex(center, center, unset);
      color: $white;
      margin-bottom: 10px;
      &:hover {
        img {
          transform: rotate(180deg);
        }
      }
      img {
        width: 100%;
        transition: all ease 1s;
      }
    }
    .button-open {
      outline: none;
      border: none;
      width: 18px;
      background-color: transparent;
      display: none;
    }
  }
}

// END HEADER

// START NAVBARSIZE
.navbar-size {
  position: fixed;
  background-color: $white;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  display: none;
  .navbar-size-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .navbar-size-item {
    border-right: 1px solid #e3e3e3;
    padding: 14px 0 12px;
    a {
      @include flex(center, center, 7px);
      flex-direction: column;
    }

    .icon {
      width: 19px;
    }
    .text {
      font-size: 12px;
      line-height: 14px;
      font-weight: $fw-b;
      color: $blue;
      text-transform: uppercase;
      transition: all ease 0.5s;
    }

    &.active {
      .icon {
        img {
          filter: brightness(0) saturate(100%) invert(10%) sepia(100%)
            saturate(5329%) hue-rotate(323deg) brightness(106%) contrast(101%);
        }
      }
      .text {
        color: $pink;
      }
    }
  }
}
// END NAVBARSIZE

// START PROJECT
.project {
  padding: 120px 0 90px;
  background-color: $light-blue;
  position: relative;
  .curve-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 105px;
    transform: translateY(99%);
  }
  .heading-block {
    .title {
      color: $black;
    }
  }
  .project-group {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 65px;
  }

  .project-pagination {
    margin-top: 99px;
    padding-top: 38px;
    border-top: 1px solid #e4e4e4;
    @include flex(end, center, unset);
    position: relative;
    .button-wrapper {
      @include flex(center, center, 20px);
      position: absolute;
      top: 38px;
      left: 50%;
      transform: translateX(-50%);
      .button {
        @include flex(center, center, 10px);
        &.button-prev {
          border: 2px solid $yellow;
          &:hover {
            .icon {
              img {
                filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
                  saturate(0%) hue-rotate(108deg) brightness(106%)
                  contrast(104%);
              }
            }
          }
        }
      }
    }
    .select {
      @include flex(unset, center, 8px);
      .text {
        font-size: 16px;
        line-height: 19px;
        font-weight: $fw-l;
      }
      .input {
        background-color: transparent;
        border: 1px solid #616161;
        border-radius: 5px;
        padding: 6px 14px 6px 25px;
        input {
          outline: none;
          border: none;
          background-color: transparent;
          font-size: 16px;
          line-height: 19px;
          font-weight: $fw-m;
        }
      }
    }
  }
  .button-show-all {
    display: none;
    margin-top: 55px;
    width: 100%;
    padding: 15px;
    border-color: $blue;
    color: $blue;
    font-size: 10px;
    line-height: 12px;
    font-weight: $fw-m;
  }
}

.project-item {
  .image {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 28px;
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
    img {
      height: 100%;
      object-fit: cover;
      transition: all ease 1s;
    }
  }
  .title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    font-size: 18px;
    line-height: 30px;
    font-weight: $fw-b;
    color: $blue;
    margin-bottom: 24px;
    &:hover {
      text-decoration: underline;
    }
  }
}
// END PROJECT

// START GALLERY
.gallery {
  position: relative;
  padding: 142px 0 70px;
  background-color: $blue;
  .decor-el {
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
  }
  .gallery-wrapper {
    @include flex(space-between, center, 20px);
    height: 300px;
    .image {
      position: relative;
      flex: 1;
      height: 100%;
      transform: rotate(6deg);
      img {
        position: relative;
        z-index: 1;
        height: 100%;
        object-fit: cover;
      }
      &::before {
        content: "";
        position: absolute;
        top: -10px;
        left: -10px;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        background-color: $white;
        z-index: 0;
      }
      &:nth-last-child(1),
      &:nth-last-child(2) {
        margin-top: 20px;
      }
      &:nth-child(odd) {
        transform: rotate(-6deg);
      }
    }
  }
}
// END GALLERY

// START TESTIMONIALS
.testimonials {
  overflow: hidden;

  .swiper {
    overflow: visible;
    .swiper-slide:not(.swiper-slide-next) {
      .testimonials-item {
        background-color: rgba($color: $white, $alpha: 0.3);

        .title,
        .desc,
        .name,
        .address {
          color: $white;
        }
        .rating {
          &::before {
            background: linear-gradient(
              90deg,
              $white var(--percent),
              #888888 var(--percent)
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
  .testimonials-slider {
    margin-top: 144px;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: -42px;
      width: 145px;
      height: calc(100% + 42px);
      z-index: 2;
    }
    &::before {
      left: 0;
      background: linear-gradient(90deg, #1d0e78 0%, rgba(29, 14, 120, 0) 100%);
    }
    &::after {
      right: 0;
      background: linear-gradient(90deg, rgba(29, 14, 120, 0) 0%, #1d0e78 100%);
    }
  }
  .testimonials-item {
    position: relative;
    padding: 84px 33px 48px;
    border-radius: 10px 75px 75px 75px;
    background-color: $white;
    transition: all ease 0.5s;
    animation: popIn ease 1s;

    .image {
      border-radius: 500px;
      overflow: hidden;
      border: 4px solid $white;
      width: 83px;
      aspect-ratio: 1;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    .rating {
      --percent: calc(var(--rating) / 5 * 100%);
      text-align: center;
      margin-bottom: 35px;
      &::before {
        transition: all ease 0.5s;
        content: "⭐⭐⭐⭐⭐";
        font-size: 18px;
        background: linear-gradient(
          90deg,
          $pink var(--percent),
          #c2c2c2 var(--percent)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .title {
      transition: all ease 0.5s;
      font-size: 20px;
      line-height: 23px;
      font-weight: $fw-bl;
      letter-spacing: 0.24px;
      margin-bottom: 10px;
      text-align: center;
      color: $blue;
    }
    .desc {
      transition: all ease 0.5s;
      font-size: 14px;
      line-height: 28px;
      font-weight: $fw-l;
      color: $blue;
      letter-spacing: 0.18px;
      text-align: center;
      margin-bottom: 31px;
    }
    .user {
      .name {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        color: $blue;
        font-weight: $fw-b;
        margin-bottom: 5px;
        transition: all ease 0.5s;
        letter-spacing: 0.21px;
      }
      .address {
        text-align: center;
        font-size: 12px;
        line-height: 18px;
        font-weight: $fw-l;
        color: $blue;
        transition: all ease 0.5s;
        letter-spacing: 0.21px;
      }
    }
  }
}
// END TESTIMONIALS

// START VIDEO
.video {
  .video-wrapper {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    &.play {
      &::before {
        opacity: 0;
      }
      &:hover {
        .video-controller {
          .button-pause {
            opacity: 1;
          }
        }
      }
      .video-controller {
        .button-play {
          display: none;
        }
        .button-pause {
          display: flex;
          opacity: 0;
          transition: all ease 0.5s;
        }
      }
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: url(../images/background/video-wrap.jpg) no-repeat center;
      background-size: cover;
      opacity: 1;
      transition: all ease 0.5s;
    }
    .button-control {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 58px;
      height: 58px;
      display: block;
      outline: none;
      border: none;
      z-index: 2;
      border-radius: 500px;
      background-color: $white;
      @include flex(center, center, unset);

      img {
        width: auto;
      }
    }
    .button-pause {
      display: none;
    }
    video {
      height: 100%;
      object-fit: cover;
    }
  }
}
// END VIDEO

// START CTA
.cta {
  margin-top: 132px;
  padding-top: 138px;
  background: linear-gradient(88deg, #9f0178 2.32%, #ff6911 98.59%);
  position: relative;
  .decor-el {
    &:nth-child(1) {
      top: 239px;
      left: 67px;
      animation: moveVertical ease-in-out 2s infinite alternate-reverse;
    }
    &:nth-child(2) {
      top: 331px;
      left: 140px;
      animation: moveVertical ease-in-out 1.5s infinite alternate;
    }
    &:nth-child(3) {
      top: 85px;
      right: 70px;
      animation: moveHorizontal ease-in-out 3s infinite alternate;
    }
  }
  .heading-block {
    .title {
      font-size: 50px;
      line-height: 59px;
      margin-bottom: 20px;
    }
    .desc {
      font-size: 18px;
      line-height: 24px;
    }
    .button-wrapper {
      @include flex(center, center, 20px);
      flex-wrap: wrap;
      margin-top: 38px;
    }
    .button.button-l {
      font-size: 16px !important;
      padding: 20px 50px !important;
      font-weight: $fw-r !important;
    }
  }
  .cta-image {
    margin-top: 100px;
  }
}
// END CTA

// START BENEFIT
.benefit {
  margin-top: 250px;
  .benefit-content {
    margin-top: 88px;
    .content-wrapper {
      @include flex(space-between, center, 30px);
      margin-bottom: 140px;
      .content-image {
        max-width: 444px;
        // height: 444px;
        border-radius: 500px;
        overflow: hidden;
        width: 100%;
        aspect-ratio: 1;
        img {
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .content {
        max-width: 562px;
        p {
          font-size: 20px;
          line-height: 40px;
          font-weight: $fw-el;
          color: $white;
          margin-bottom: 30px;
          letter-spacing: 0.3px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .content-group {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 75px;
      grid-row-gap: 20px;
      margin-bottom: 145px;
      .item {
        max-width: 370px;
        min-height: 320px;
        border-radius: 10px 75px 75px 75px;
        background: linear-gradient(127deg, #632c8a 0%, #c6328a 100%);
        @include flex(center, center, 35px);
        flex-direction: column;
        &:nth-child(2) {
          background: linear-gradient(127deg, #a10377 0%, #fe6813 100%);
        }
        .icon {
          width: 85px;
        }
        .text {
          font-size: 20px;
          line-height: 27px;
          letter-spacing: 0.015em;
          font-weight: $fw-b;
          color: $white;
          text-align: center;
        }
        .read-more {
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 3.6px;
          display: block;
          margin-top: 24px;
          text-transform: uppercase;
          text-decoration: underline;
          text-align: center;
          font-weight: $fw-el;
        }
      }
    }
  }
}
// END BENEFIT

// START FOOTER
#fhm-footer {
  .footer-top {
    @include flex(space-between, end, 20px);
    padding-bottom: 33px;
    border-bottom: 1px solid #ffffff29;
  }
  .footer-logo {
    max-width: 224px;
  }
  .languages {
    @include flex(unset, center, 10px);
    padding: 9px 12px;
    border-radius: 5px;
    border: 1px solid $white;
    .icon {
      border-radius: 500px;
      width: 20px;
      height: 20px;
      border: 1px solid $white;
      overflow: hidden;
      @include flex(center, center, unset);
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    select {
      outline: none;
      border: none;
      background-color: transparent;
      color: $white;
      font-size: 14px;
      letter-spacing: 0.18px;
      option {
        color: $black;
      }
    }
  }

  .footer-mid {
    margin-top: 37px;
    padding-bottom: 37px;
    border-bottom: 1px solid #ffffff29;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 112px;
    grid-row-gap: 30px;
  }

  .footer-social,
  .footer-link {
    .title {
      font-size: 14px;
      line-height: 19px;
      color: $white;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-weight: $fw-b;
      margin-bottom: 15px;
    }
  }

  .footer-link {
    .footer-link-list {
      .item {
        margin-bottom: 10px;
        a {
          font-size: 14px;
          line-height: 19px;
          color: $white;
          text-transform: capitalize;
          letter-spacing: 0.21px;
          font-weight: $fw-l;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .footer-social {
    .footer-social-list {
      @include flex(unset, center, 47px);
      .item {
        width: 38px;
        aspect-ratio: 1;
        a {
          img {
            transition: all ease 0.5s;
          }
        }
        &:hover {
          a {
            img {
              filter: brightness(2);
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    margin: 40px 0 44px;
    @include flex(space-between, center, 20px);
  }

  .copyrights {
    font-size: 14px;
    line-height: 24px;
    color: $white;
    letter-spacing: 0.21px;
    font-weight: $fw-l;
  }

  .policy-list {
    @include flex(unset, center, unset);
    .item {
      margin-right: 30px;
      padding-right: 30px;
      border-right: 1px solid #ffffff2e;
      &:last-child {
        margin-right: 0;
        padding-right: 0;
        border-right: 0;
      }
      a {
        font-size: 14px;
        line-height: normal;
        color: $white;
        letter-spacing: 0.21px;
        font-weight: $fw-l;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
// END FOOTER

// START SEO
.seo {
  padding: 58px 0 130px;

  background-color: $blue;
  p {
    font-size: 14px;
    line-height: 30px;
    font-weight: $fw-l;
    margin-bottom: 20px;
    color: #a297e4;
    letter-spacing: 0.015em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
// END SEO

// START BLOG
.blog {
  margin-top: 139px;
  overflow: hidden;
  .blog-heading {
    @include flex(space-between, end, unset);
  }

  .swiper {
    overflow: visible;
  }
  .blog-slider {
    margin-top: 66px;
    position: relative;
  }

  .slider-button {
    top: 40%;
  }

  .slider-button-prev {
    left: -22px;
  }
  .slider-button-next {
    right: -127px;
  }
}

.blog-item {
  .image {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 28px;
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
    img {
      height: 100%;
      object-fit: cover;
      transition: all ease 1s;
    }
  }
  .content {
    .date {
      font-size: 12px;
      line-height: 19px;
      font-weight: $fw-l;
      display: block;
      margin-bottom: 10px;
      color: $white;
      letter-spacing: 0.2em;
      text-transform: uppercase;
    }
    .title {
      font-size: 18px;
      line-height: 30px;
      font-weight: $fw-m;
      color: $white;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
      overflow: hidden;
      -webkit-line-clamp: 2;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
// END BLOG

// START RESPONSIVE
@include large-desktop {
  .blog {
    .blog-slider {
      .slider-button-next {
        right: -22px;
      }
    }
  }
}

@include desktop {
  .benefit {
    .benefit-content {
      .content-wrapper {
        flex-direction: column-reverse;
        gap: 65px;
        margin-bottom: 65px;
        .content {
          max-width: unset;
        }
      }
      .content-group {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 47px;
        .item {
          max-width: unset;
          border-radius: 50px;
        }
      }
    }
  }
  .quote {
    &.quote-l {
      font-size: 25px;
      line-height: 50px;
    }
  }
}

@include tablet {
  #fhm-header {
    .nav {
      .list {
        display: none;
      }
      .button-open {
        display: block;
      }
    }
  }
  .project {
    .project-group {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .blog {
    .blog-slider {
      .slider-button {
        display: none;
      }
    }
  }

  .gallery {
    .gallery-wrapper {
      height: 200px;
    }
  }

  #fhm-footer {
    .footer-mid {
      grid-template-columns: repeat(3, 1fr);
    }
    .footer-bottom {
      flex-direction: column-reverse;
      gap: 40px;
    }
  }
}

@include landscape-phone {
  .testimonials {
    .swiper {
      overflow: visible;
      .swiper-slide {
        width: unset;
        .testimonials-item {
          background-color: rgba($color: $white, $alpha: 0.3);

          .title,
          .desc,
          .name,
          .address {
            color: $white;
          }
          .rating {
            &::before {
              background: linear-gradient(
                90deg,
                $white var(--percent),
                #888888 var(--percent)
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }

    .testimonials-slider {
      &::after,
      &::before {
        display: none;
      }
    }
    .testimonials-item {
      max-width: 450px;
    }
  }

  .blog {
    .blog-heading {
      flex-direction: column;
      align-items: start;
      gap: 20px;
    }
  }

  .gallery {
    .gallery-wrapper {
      height: 150px;
    }
  }

  #fhm-footer {
    .footer-mid {
      grid-template-columns: repeat(2, 1fr);
    }
    .policy-list {
      flex-wrap: nowrap;
      overflow-x: auto;
      width: 100%;
      .item {
        a {
          white-space: nowrap;
        }
      }
    }
  }
}

@include extra-mobile {
  .container {
    padding: 0 20px;
  }
}

@include mobile {

  .image-border {
    width: 85%;

    .decor-el {
      &:nth-child(1) {
        width: 70px;
        top: -40px;
      }
      &:nth-child(2) {
        width: 51px;
        left: -10px;
        bottom: -20px;
      }
    }
  }

  .project-item {
    .image {
      border-radius: 10px;
    }
  }

  #fhm-header {
    padding-top: 0;
    .container {
      padding: 0;
    }
    .topbar {
      padding: 11px 20px;
      transform: unset;
      background-color: $blue;
      justify-content: space-between;
      margin-bottom: 18px;
    }
    .header-wrapper {
      padding: 0 20px;
    }
    .logo {
      width: 126px;
    }
  }
  .heading-block {
    .badge {
      font-size: 8px;
      line-height: 15px;
      padding: 7px 10px;
      margin-bottom: 5px;
      font-weight: $fw-el;
    }
    .title {
      font-size: 22px;
      line-height: 44px;
    }
    .desc {
      font-size: 14px;
      margin-top: 5px;
      line-height: 32px;
    }
  }

  .navbar-size {
    display: block;
  }

  .button.button-l {
    font-size: 10px;
    line-height: 12px;
    padding: 10px 15px;
  }

  .project {
    .project-group {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 40px;
    }

    .project-item {
      &:nth-child(n + 4) {
        display: none;
      }
    }
    .button-show-all {
      display: block;
    }
  }

  .testimonials {
    .testimonials-slider {
      margin-top: 73px;
    }
    .testimonials-item {
      max-width: 302px;
      border-radius: 10px 45px 45px 45px;
      padding: 54px 17px 34px;
      .image {
        width: 63px;
        height: 63px;
        border-width: 2px;
      }
      .rating {
        margin-bottom: 10px;
      }
      .title {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 10px;
      }
      .desc {
        font-size: 12px;
        line-height: 24px;
        margin-bottom: 15px;
      }
      .user {
        .name {
          font-size: 14px;
          line-height: 24px;
          margin-bottom: 0;
        }
        .address {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }

  .cta {
    padding-top: 52px;
    margin-top: 78px;
    .decor-el {
      &:nth-child(1) {
        top: 206px;
        left: -40px;
      }
      &:nth-child(2) {
        top: 298px;
        left: 33px;
        right: initial;
      }
      &:nth-child(3) {
        top: -50px;
        right: 0;
        width: 79px;
      }
    }
    .heading-block {
      .title {
        font-size: 25px;
        line-height: 36px;
        margin-bottom: 10px;
      }
      .desc {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 24px;
      }
      .button {
        padding: 10px;
        max-width: 160px;
        width: 100%;

        line-height: 24px !important;
        font-weight: $fw-r !important;
      }
      .button.button-l {
        padding: 10px 25px !important;
        min-width: 160px;
        font-size: 12px !important;
      }
    }
    .cta-image {
      margin-top: 43px;
    }
  }

  .blog {
    margin-top: 53px;
    .blog-heading {
      align-items: baseline;
      .button {
        display: none;
      }
    }
    .blog-slider {
      margin-top: 29px;
      .swiper-slide {
        max-width: 207px;
      }
      .blog-item {
        .image {
          border-radius: 10px;
        }
        .content {
          .date {
            font-size: 10px;
            line-height: 19px;
          }
          .title {
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.21px;
          }
        }
      }
    }
  }

  .project {
    padding: 100px 0 44px;
  }

  .benefit {
    margin-top: 0;
    padding: 250px 0 132px;
    background-color: $blue;
    .benefit-content {
      margin-top: 41px;

      .content-wrapper {
        gap: 29px;
        .content {
          p {
            font-size: 14px;
            line-height: 32px;
            margin-bottom: 19px;
          }
        }
        .content-image {
          aspect-ratio: 1;
        }
      }
    }
  }
  .quote {
    &.quote-m {
      font-size: 14px;
      line-height: 32px;
      margin-bottom: 32px;
    }
    &.quote-l {
      font-size: 20px;
      line-height: 40px;
    }
  }

  .gallery {
    padding: 60px 0 40px;
    .gallery-wrapper {
      height: 100px;
      .image {
        &::before {
          top: -5px;
          left: -5px;
          width: calc(100% + 9px);
          height: calc(100% + 9px);
        }
      }
    }
  }

  .video {
    .video-wrapper {
      .button-control {
        width: 33px;
        height: 33px;
        img {
          width: 11px;
          height: 14px;
        }
      }
    }
  }

  .curve-bg {
    height: 27px;
  }

  #fhm-footer {
    margin-top: 26px;
    .footer-logo {
      max-width: 160px;
    }
    .footer-mid {
      grid-column-gap: 10px;
    }
    .footer-social {
      .footer-social-list {
        gap: 27px;
        flex-wrap: wrap;
      }
    }
    .footer-social,
    .footer-link {
      .title {
        letter-spacing: 0.21px;
        font-weight: $fw-m;
      }
    }
  }
}
// END RESPONSIVE
