.project-detail {
  .testimonials {
    padding: 150px 0 125px;
    background: $blue;

    .heading-block {
      .title {
        font-weight: $fw-b;
      }

      .desc {
        margin-top: 35px;
      }
    }

    .testimonials-slider {
      &:after {
        background: linear-gradient(90deg, rgba(29, 14, 120, 0) 0%, $blue 100%);
      }

      &:before {
        background: linear-gradient(90deg, $blue 0%, rgba(29, 14, 120, 0) 100%);
      }
    }
  }

  .cta {
    .cta-wrapper {
      position: relative;
      z-index: 2;
    }

    .cta-image {
      margin-top: 31px;
    }
  }
}

.project-highlight {
  padding: 250px 0 0;
  background: $blue;
  overflow: hidden;

  .project-container {
    position: relative;
  }

  .heading-block {
    position: relative;
    z-index: 2;
    margin-top: 91px;

    .title {
      font-size: 40px;
      line-height: 60px;
      letter-spacing: 0.6px;
      margin-bottom: 10px;
      font-weight: $fw-b;
    }

    .desc {
      color: #fff;
      letter-spacing: 0.3px;
      margin-bottom: 52px;
      margin-top: 0;
      max-width: 1107px;
    }
  }

  .button-group {
    display: inline-flex;
    column-gap: 45px;
    row-gap: 20px;

    .button {
      &:first-child {
        padding: 20px 57px;
        font-weight: $fw-m;
      }

      &:nth-child(2){
        border: 1px solid $yellow;
        color: $yellow;
        padding: 20px 48px;
        font-weight: $fw-m;
  
        &:hover {
          color: #fff;
        }
      }
    }

  }

  .swiper  {
    aspect-ratio: 1334/705;
  }


  .swiper-slide {
    transition: all 1.25s $cubic;
    display: flex;
    align-items: end;

    img {
      transition: all 1.25s $cubic;
      border-radius: 20px 20px 0px 0px;
      border-style: solid;
      border-color: transparent;
      border-width: 7px 7px 0 7px;
      box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.15);
    }
  }

  .swiper-slide-prev {
    z-index: 2;

    img {
      transform: scale(1.3);
      transform-origin: bottom left;
    }
  }

  .swiper-slide-next {
    z-index: 2;

    img {
      transform: scale(1.3);
      transform-origin: bottom right;
    }
  }

  .swiper-slide-active {
    z-index: 3;

    img {
      transform: scale(2.2);
      transform-origin: bottom center;
      border-color: rgba(255, 255, 255, 0.2);
      border-width: 7px 7px 0 7px;
    }
  }

  .decor-el {
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-55%);
    object-fit: contain;
    overflow: hidden;

    svg {
      width: 100%;
      object-fit: contain;
      height: initial;
    }
  }
}

.project-statistic {
  position: relative;
  padding: 363px 0 80px 0;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    img {
      object-fit: cover;
    }
  }

  .project-statistic-list {
    display: flex;
    column-gap: 40px;
    row-gap: 70px;
    flex-wrap: wrap;

    .project-statistic-item {
      display: flex;
      align-items: flex-start;
      column-gap: 12px;
      flex: 0 0 calc(25% - 30px);
      max-width: calc(25% - 30px);
      color: #fff;

      &:last-child {
        flex: 1;
        max-width: 410px;
      }

      img {
        flex: 0 0 28px;
        max-width: 28px;
      }

      h5 {
        font-size: 12px;
        font-weight: $fw-r;
        line-height: normal;
        letter-spacing: 3.6px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      p {
        font-size: 18px;
        font-weight: $fw-m;
        line-height: normal;
        letter-spacing: 0.27px;
      }
    }
  }
}

.project-overview {
  background: $blue;
  padding: 142px 0 167px;
  overflow: hidden;

  .overview-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 7.4%;
    row-gap: 35px;
  }

  .heading-block {
    flex: 0 0 50%;
    max-width: 50%;

    .overview-content {
      padding-right: 24px;
      margin-bottom: 40px;
    }

    h3 {
      margin-bottom: 20px;
      line-height: 60px;
      font-weight: $fw-b;
      letter-spacing: 0.6px;
    }

    p {
      color: #fff;
      font-size: 20px;
      font-weight: $fw-el;
      line-height: 40px;
      letter-spacing: 0.3px;
      margin-bottom: 20px;
    }

    .button {
      margin-top: 20px;
      padding: 20px 60px;
      font-weight: $fw-m;
    }
  }

  .overview-image {
    position: relative;
    margin-top: 30px;

    .overview-image-main {
      max-width: 637px;
      width: initial;
    }

    .overview-image-mb {
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateX(-50%);
      width: 30.2%;
      max-width: 139px;
    }
  }
}

.screenshoots {
  padding: 134px 0 138px;

  .heading-block {
    margin-bottom: 62px;

    .title {
      font-weight: $fw-b;
      line-height: 60px;
      letter-spacing: 0.6px;
    }

    .desc {
      letter-spacing: 0.3px;
    }
  }

  .screenshoots-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 70px;
  }

  .screenshoot-item {
    border-radius: 10px;
    overflow: hidden;

    &:hover {
      img {
        transform: scale(1.05);
      }
    }

    img {
      transition: all 0.5s ease;
    }
  }

  .button {
    margin: 0 auto;
    font-weight: $fw-m;
    padding: 20px 57px;
  }
}

.responsive {
  position: relative;
  background: #0c0346;
  padding: 136px 0 181px;
  overflow: hidden;

  .heading-block {
    max-width: 463px;
    position: relative;
    margin-bottom: 30px;
    z-index: 3;

    .badge {
      margin-bottom: 5px;
      letter-spacing: 3.6px;
    }

    .title {
      font-weight: $fw-b;
      line-height: 60px;
      letter-spacing: 0.6px;
    }

    .desc {
      margin-top: 5px;
    }
  }

  .responsive-available {
    position: relative;
    z-index: 3;

    h5 {
      color: #fff;
      font-size: 10px;
      font-weight: $fw-m;
      line-height: normal;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin-bottom: 24px;
    }
  }

  .responsive-list {
    display: inline-flex;
    gap: 24px;

    .responsive-item {
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      border: 1px solid #5f54a2;
      background: $blue;
      transition: all 0.3s ease;

      &:hover {
        border: 1px solid $white;
      }

      img {
        max-width: 23px;
        max-height: 23px;
      }
    }
  }

  .responsive-image {
    position: absolute;
    top: 50%;
    left: 34%;
    transform: translate(10%, -50%);
    z-index: 2;
  }

  .responsive-image-light {
    position: absolute;
    top: 50%;
    height: 100%;
    right: 0;
    transform: translate(6%, -50%);
    width: max-content;

    img {
      height: 100%;
    }
  }
}

.project-detail-cta {
  position: relative;
  padding-bottom: 281px;
  background: $blue;
  overflow: hidden;

  .heading-block {
    position: relative;
    padding: 66px 125px 64px;
    background: $pink;
    border-radius: 20px;
    z-index: 2;

    .badge {
      background: #d4056a;
    }

    .title {
      letter-spacing: 0.6px;
      margin-bottom: 10px;
      font-weight: $fw-b;
    }

    .desc {
      font-size: 26px;
      font-weight: $fw-r;
      line-height: 40px;
      letter-spacing: 0.39px;
      max-width: initial;
      margin: 0 auto;
    }
  }

  .project-detail-cta-button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 45px;
    row-gap: 24px;
    margin: 35px auto 0;

    .button {
      padding: 20px 58px;

      &:first-child {
        background: $white;
        color: $pink;

        &:hover {
          background: $yellow;
          color: $white;
          border: 1px solid $yellow;
        }
      }

      &:nth-child(2) {
        background: transparent;
        color: $white;
        border: 1px solid $white;

        &:hover {
          background: $yellow;
          color: $white;
          border: 1px solid $yellow;
        }
      }
    }
  }

  .bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(35%);
  }

  .bg-clippath {
    position: absolute;
    left: 50%;
    width: 125%;
    aspect-ratio: 4/1;
    background: #e8f3ff;
    clip-path: ellipse(50% 50% at 50% 50%);
    -webkit-clip-path: ellipse(50% 50% at 50% 50%);
    bottom: 0;
    transform: translate(-50%, 80%);
  }
}

#project-detail-cta {
  margin-top: 0;
}

.project-detail-related {
  padding: 32px 0 122px;
  background: #e8f3ff;

  .heading-block {
    margin-bottom: 80px;

    .title {
      color: #000;
      letter-spacing: 0.6px;
      font-weight: $fw-b;
      line-height: normal;
    }
  }

  .project-detail-related-wrap {
    position: relative;

    .swiper-button-prev {
      left: 0;
      top: calc(50% - 64px);
      transform: translate(-50%, -50%);

      &:after {
        content: none;
      }
    }

    .swiper-button-next {
      right: 0;
      top: calc(50% - 64px);
      transform: translate(50%, -50%);

      &:after {
        content: none;
      }
    }
  }

  .project-item {
    .title {
      font-weight: $fw-sb;
    }
  }
}

@include min-extra-desktop {
  .project-highlight {
    .project-container {
      min-width: 1358px;
    }
  }
}

@include extra-desktop {
  .project-overview {
    .overview-image {
      .overview-image-main {
        max-width: 100%;
      }
    }
  }
}

@include desktop {
  .project-highlight {
    padding: 160px 0 0;

    .project-container {
      max-width: 100%;
      padding: 0;
    }
  }

  .project-statistic {
    padding: 250px 0 80px 0;

    .project-statistic-list {
      row-gap: 40px;

      .project-statistic-item {
        flex: 0 0 calc((100% - 80px) / 3);
        max-width: calc((100% - 80px) / 3);
      }
    }
  }

  .project-overview {
    .heading-block {
      p {
        font-size: 14px;
        line-height: 34px;
        letter-spacing: 0.21px;
      }
    }
  }

  .responsive {
    padding: 100px 0;
  }
}

@include small-desktop {
  .project-statistic {
    .project-statistic-list {
      column-gap: 30px;
      row-gap: 30px;

      .project-statistic-item {
        flex: 0 0 calc(50% - 15px);
        max-width: calc(50% - 15px);

        &:last-child {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
  }
}

@include tablet {
  .project-overview {
    .overview-wrapper {
      flex-wrap: wrap;
    }

    .heading-block {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .overview-image {
      .overview-image-mb {
        transform: translateX(0);
        width: 19.5%;
      }
    }
  }

  .screenshoots {
    .screenshoots-list {
      grid-template-columns: 1fr 1fr;
    }

    .screenshoot-item {
      &:nth-child(9) {
        display: none;
      }
    }
  }

  .responsive {
    padding: 100px 0 361px;

    .heading-block {
      max-width: 100%;
    }

    .responsive-image {
      top: initial;
      bottom: 0;
      max-width: 400px;
      right: 0;
      left: initial;
      transform: translate(0);
    }
  }

  .project-detail-cta {
    padding-bottom: 160px;
    .heading-block {
      padding: 65px 30px;

      .title {
        font-size: 32px;
        line-height: 34px;
      }

      .desc {
        font-size: 22px;
        line-height: 32px;
      }
    }

    .bg-clippath {
      aspect-ratio: 31/10;
    }
  }
}

@include landscape-phone {
  .project-highlight {
    .button-group {
      .button {
        &:first-child, &:nth-child(2) {
          padding: 20px 30px;
        }
      }
    }
  }
}

@include extra-mobile {
  .project-detail {
    .testimonials {
      padding: 45px 0 59px;

      .heading-block {
        .title {
          font-weight: $fw-sb;
          line-height: 34px;
          letter-spacing: 0.33px;
        }

        .desc {
          margin-top: 5px;
        }
      }

      .testimonials-slider {
        &:after {
          content: '';
          position: absolute;
          display: block;
          width: 46%;
          transform: translateX(64%);
          background: linear-gradient(90deg, transparent 15%, #1D0E78 51%);
        }
      }
    }
  }
  
  .project-highlight {
    padding: 115px 0 0;

    .heading-block {
      margin-top: 31px;
      padding-bottom: 20px;

      .title {
        font-size: 22px;
        font-weight: $fw-b;
        line-height: 34px;
        letter-spacing: 0.33px;
        margin-bottom: 5px;
      }

      .desc {
        font-size: 14px;
        font-weight: $fw-l;
        line-height: 32px;
        letter-spacing: 0.21px;
        margin-bottom: 20px;
      }
    }

    .swiper {
      z-index: 3;
    }

    .swiper-slide {
      img {
        box-shadow: none;
      }
    }

    .swiper-slide-active {
      img {
        border-width: 4px 4px 0 4px;
      }
    }

    .button-group {
      column-gap: 20px;
      flex-wrap: wrap;

      .button {
        font-size: 10px;
        line-height: normal;
        letter-spacing: 3px;

        &:first-child, &:nth-child(2) {
          padding: 10px 15px;
          font-weight: $fw-r;
        }
      }
    }

    .decor-el {
      width: 120%;
      left: -10%;
      top: -50px;
      transform: none;
    }
  }

  .project-statistic {
    padding: 140px 0 50px 0;

    .project-statistic-list {
      column-gap: 20px;

      .project-statistic-item {
        column-gap: 10px;
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);

        img {
          flex: 0 0 23px;
          max-width: 23px;
        }

        h5 {
          font-size: 10px;
          letter-spacing: 3px;
          margin-bottom: 6px;
        }

        p {
          font-size: 14px;
          letter-spacing: 0.21px;
          line-height: 20px;
          font-weight: $fw-r;
        }
      }
    }
  }

  .project-overview {
    padding: 40px 0 60px;

    .heading-block {
      h3 {
        font-size: 22px;
        line-height: 34px;
        letter-spacing: 0.33px;
        margin-bottom: 5px;
      }

      p {
        margin-bottom: 5px;
      }

      .button {
        padding: 10px 15px;
        font-size: 10px;
        font-weight: $fw-r;
        line-height: normal;
        letter-spacing: 3px;
      }
    }

    .overview-image {
      margin-top: 0;
    }
  }

  .screenshoots {
    padding: 43px 0 44px;

    .heading-block {
      margin-bottom: 25px;
    }

    .screenshoots-list {
      gap: 12px;
      margin-bottom: 23px;
    }

    .button {
      width: 100%;
      padding: 15px;
      font-size: 10px;
      font-weight: $fw-r;
      letter-spacing: 3px;
    }
  }

  .project-detail-cta {
    .container {
      padding: 0;
    }

    .heading-block {
      padding: 40px 20px;
      border-radius: 0;

      .badge {
        font-size: 8px;
        letter-spacing: 2.4px;
        line-height: 15px;
        margin-bottom: 5px;
      }

      .title {
        font-size: 22px;
        letter-spacing: 0.33px;
      }

      .desc {
        font-size: 14px;
        letter-spacing: 0.21px;
      }
    }

    .project-detail-cta-button {
      margin: 20px auto 0;
      column-gap: 38px;

      .button {
        padding: 10px 15px;
        font-size: 10px;
        line-height: 15px;
        letter-spacing: 3px;
      }
    }
  }

  .project-detail-related {
    padding: 32px 0 60px;

    .heading-block {
      margin-bottom: 25px;

      .title {
        font-size: 22px;
        line-height: 34px;
        letter-spacing: 0.33px;
      }
    }

    .project-detail-related-wrap {
      .swiper-wrapper {
        flex-wrap: wrap;
        row-gap: 40px;
      }

      .slider-button {
        display: none;
      }
    }

    .project-item {
      .title {
        font-size: 16px;
        font-weight: $fw-sb;
        line-height: 30px;
        letter-spacing: 0.24px;
      }

      .button {
        font-size: 10px;
        font-weight: $fw-r;
        line-height: normal;
        letter-spacing: 3px;
        padding: 10px 20px;
      }
    }
  }

  .responsive {
    .responsive-image-light {
      display: none;
    }
  }
}


@include mobile {
  .project-detail {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      background: #1C0B81;
      border-radius: 50%;
      width: 399px;
      height: 399px;
      top: 0;
      left: 0;
      transform: translate(-40%, -62%);
      z-index: 2;
    }
  }
}