.wave-bg {
  z-index: 2;
  width: 100%;
  margin-top: -400px;
  overflow: hidden;
  position: relative;
  .wave-bg-item {
    display: inline-block;
    width: 145%;
  }
}

.bg-blue {
  background-color: $blue;
}

.blog {
  &.blog-service {
    margin: 0;
    margin-bottom: -133px;
    padding-bottom: 133px;
  }
}

#fhm-detail-service {
  .button {
    font-weight: $fw-sb;
  }
}

// START INTRODUCE
.intro {
  position: relative;
  .intro-bg {
    width: 100%;
    height: 100%;
  }
  .intro-container {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .container {
      height: 100%;
    }
  }
  .intro-content {
    padding: 10% 0 30% 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-weight: $fw-b;
      font-size: 46px;
      letter-spacing: 0.015em;
      color: white;
      text-align: center;
      margin-bottom: 20px;
      span {
        font-weight: $fw-bl;
      }
    }
    p {
      font-weight: $fw-l;
      font-size: 20px;
      list-style: 2;
      text-align: center;
      color: white;
      max-width: 737px;
    }
  }
  .intro-img {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 5;
  }
}
// END INTRODUCE

// START SERVICES
.services {
  margin-top: 70px;
  h2 {
    font-weight: $fw-r;
    font-size: 14px;
    letter-spacing: 0.5em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 100px;
  }
  .services-list {
    position: relative;
  }
  .services-slider {
    height: 1200px;
    .services-slider-item {
      height: fit-content;
      position: relative;
      overflow: hidden;
      border-radius: 20px;
      height: 106px;
      transition: all 0.45s ease-in-out;

      .services-slider-img {
        width: 100%;
        height: 562px;
        background-size: cover;
        background-position: center;
        position: relative;
        overflow: hidden;
        opacity: 0;
        transition: all 0.45s ease-in-out;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba($color: #08022d, $alpha: 0.45);
        }
      }
      .services-slider-content {
        position: absolute;
        z-index: 5;
        left: 105px;
        top: 50%;
        transform: translateY(-50%);
        a {
          font-weight: $fw-eb;
          font-size: 46px;
          line-height: 66px;
          letter-spacing: 0.015em;
          color: #6351d0;
          padding-top: 16px;
          margin-bottom: 10px;
          position: relative;
          &:hover {
            text-decoration: underline;
          }
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 4px;
            background-color: white;
          }
        }
        p {
          font-weight: $fw-sb;
          font-size: 18px;
          line-height: 30px;
          letter-spacing: 0.015em;
          color: #6351d0;
        }
      }
      &.swiper-slide-active {
        height: 562px;
        .services-slider-img {
          opacity: 1;
        }
        .services-slider-content {
          a,
          p {
            color: white;
          }
          a {
            &::after {
              width: 70px;
            }
          }
        }
      }
    }
  }
  .services-pagination {
    position: absolute;
    left: auto;
    top: 20%;
    right: -63px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background-color: #3522aa;
      opacity: 1;
      transition: all 0.45s ease-in-out;
      &.swiper-pagination-bullet-active {
        width: 1px;
        height: 89px;
        background-color: rgba($color: #8e7df0, $alpha: 0.5);
      }
    }
  }
}
// END SERVICES

// START ADVER
.adver {
  aspect-ratio: 1600 / 775;
  overflow: hidden;
  position: relative;
  .adver-bg {
    width: 100%;
    height: 100%;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .adver-container {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #3b2f81, $alpha: 0.55);
    display: flex;
    align-items: center;
    .heading-block {
      h2 {
        font-weight: $fw-eb;
        font-size: 46px;
        margin-bottom: 10px;
      }
      .desc {
        margin-top: 0;
        font-weight: $fw-sb;
        font-size: 24px;
      }
    }
  }
}
// END ADVER

// START LAUNCH
.launch {
  padding-top: 117px;
  background-color: $blue;
  position: relative;
  overflow: hidden;
  .launch-container {
    position: relative;
    z-index: 5;
  }
  h2 {
    font-weight: $fw-b;
    font-size: 36px;
    color: white;
    max-width: 389px;
  }
  .launch-content {
    p {
      font-weight: $fw-l;
      font-size: 20px;
      line-height: 2;
      letter-spacing: 0.015em;
      color: white;
      margin-bottom: 25px;
    }
    a {
      display: block;
      margin-top: 32px;
      padding: 20px 60px;
    }
  }
}
// END LAUNCH

// START DISPLAY
.display {
  margin-top: -210px;
  padding-bottom: 150px;
  position: relative;
  background-color: $blue-2;

  .display-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 80%;
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
  a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 32px;
    padding: 20px 60px;
    position: relative;
    z-index: 5;
  }
  .display-heading {
    margin-bottom: 65px;
    position: relative;
    z-index: 5;
    h2 {
      font-weight: $fw-b;
      font-size: 36px;
      line-height: 50px;
      letter-spacing: 0.015em;
      color: white;
      margin-bottom: 20px;
    }
    p {
      font-weight: $fw-l;
      font-size: 20px;
      line-height: 2;
      letter-spacing: 0.015em;
      color: white;
      margin-bottom: 8px;
    }
  }
  .display-slider {
    margin-bottom: 82px;
    .display-slider-item {
      width: 77.6875%;
      position: relative;
      overflow: hidden;
      border-radius: 20px;
      &:first-child {
        margin-left: 75px;
      }
      &:last-child {
        margin-right: 75px;
      }
      .display-slider-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba($color: #0c0344, $alpha: 0.6);
        display: flex;
        justify-content: center;
        align-items: end;
        padding-bottom: 8%;
        opacity: 0;
        transform: scale(1.3);
        transition: all 0.35s ease-in-out;
        a {
          font-size: 14px;
          font-weight: $fw-sb;
          padding: 18px 50px;
        }
      }
      &:hover {
        .display-slider-content {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
  .display-statistic {
    position: relative;
    z-index: 5;
    margin-top: 126px;
    display: flex;
    justify-content: space-between;
    .display-statistic-el {
      h4 {
        font-weight: $fw-bl;
        font-size: 80px;
        letter-spacing: 0.015em;
        text-align: center;
        color: white;
        margin-bottom: 9px;
      }
      p {
        font-weight: $fw-l;
        font-size: 22px;
        letter-spacing: 0.015em;
        color: white;
        text-align: center;
      }
    }
  }
}
// END DISPLAY

// START SERVICE PARTNER
.services-partner {
  position: relative;
  z-index: 2;
  .services-partner-slider {
    margin-top: 46px;
    position: relative;
    z-index: 2;
    .swiper-wrapper {
      transition-timing-function: linear;
      transition-duration: 20s;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 10;
      width: 18.75%;
      height: 105%;
      top: 0;
    }
    &::before {
      left: 0;
      background: linear-gradient(90deg, #1d0e78 0%, rgba(29, 14, 120, 0) 100%);
    }
    &::after {
      right: 0;
      background: linear-gradient(
        -90deg,
        #1d0e78 0%,
        rgba(29, 14, 120, 0) 100%
      );
    }
  }
  .services-partner-item {
    aspect-ratio: 223 / 121;
    border: 1px dashed white;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: auto;
      height: auto;
      max-width: 80%;
      max-height: 80%;
    }
  }
}
// END SERVICE PARTNER

// START REASON
.reason {
  padding-top: 216px;
  background-color: $blue;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    z-index: 10;
    top: 100px;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    display: block;
    background: linear-gradient(180deg, rgba(29, 14, 120, 0) 0%, #1d0e78 100%);
    width: 125%;
    aspect-ratio: 2000 / 516;
    border-radius: 100%;
  }
  a {
    padding: 20px 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
  }
  .reason-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 82px;
    margin-bottom: 74px;
  }
  .reason-item {
    aspect-ratio: 1;
    border-radius: 20px;
    overflow: hidden;
    padding: 45px 26px 45px 44px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: all 0.45s ease-in-out;
    position: relative;
    z-index: 5;

    background: linear-gradient(135deg, #a30576 0%, #f7601c 100%);
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.45s ease-in-out;
      background-color: $blue-2;
      opacity: 1;
    }
    .reason-item-icon {
      width: 68px;
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.45s ease-in-out;
      margin-bottom: 32px;
      position: relative;
      z-index: 2;
      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }
    h3 {
      font-weight: $fw-m;
      font-size: 24px;
      line-height: 1.3333;
      transition: all 0.45s ease-in-out;
      color: white;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 2;
      position: relative;
      z-index: 2;
    }
    p {
      font-weight: $fw-l;
      font-size: 16px;
      line-height: 1.75;
      color: white;
      height: 0;
      transition: all 0.45s ease-in-out;
      overflow: hidden;
      opacity: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 3;
      position: relative;
      z-index: 2;
    }
    &:hover {
      &::after {
        opacity: 0;
      }
      .reason-item-icon {
        margin-bottom: 26px;
        img {
          filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
            saturate(7463%) hue-rotate(128deg) brightness(131%) contrast(91%);
        }
      }
      h3 {
        margin-bottom: 13px;
      }
      p {
        opacity: 1;
        height: 84px;
      }
    }
  }
}
// END REASON

// START INDUSTRY
.industry {
  margin-top: 80px;
  margin-bottom: 150px;
  .industry-container {
    position: relative;
  }
  .industry-list {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 17px;
    row-gap: 18px;
  }
  .industry-item {
    display: flex;
    height: 84px;
    padding: 30px 50px 30px 20px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px dashed white;
    align-items: center;
    gap: 10px;
    background-image: url("../images/services/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center right 30px;
    cursor: pointer;
    h3 {
      font-weight: $fw-r;
      font-size: 18px;
      letter-spacing: 0.015em;
      line-height: 21px;
      color: white;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 1;
    }
    .industry-item-icon {
      max-width: 22px;
    }
    p {
      display: none;
    }
  }
  .industry-popup {
    position: absolute;
    z-index: 10;
    top: 47%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #2b1a93;
    border-radius: 5px;
    overflow: hidden;
    border: 1px dashed white;
    max-width: 375px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.65s cubic-bezier(0.215, 0.61, 0.355, 1);
    .industry-popup-container {
      display: flex;
      gap: 10px;
      padding: 30px 20px;
    }
    h3 {
      font-weight: $fw-r;
      font-size: 18px;
      letter-spacing: 0.015em;
      line-height: 21px;
      color: white;
      padding-top: 5px;
      padding-right: 40px;
      background-image: url("../images/services/arrow-down.svg");
      background-repeat: no-repeat;
      background-position: center right 20px;
      margin-bottom: 18px;
    }
    .industry-popup-icon {
      max-width: 22px;
      flex-shrink: 0;
    }
    p {
      font-weight: $fw-l;
      font-size: 14px;
      line-height: 2;
      letter-spacing: 0.015em;
      color: white;
      margin-bottom: 18px;
    }
    &.show {
      max-height: 500px;
      opacity: 1;
    }
  }
}
// END INDUSTRY

// START PROCESS
.process {
  padding-top: 130px;
  background-color: $blue;
  .heading-block {
    padding: 0 10px;
  }
  .process-container {
    max-width: 1389px;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    z-index: 5;
    overflow-x: auto;
  }
  .process-list {
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
    gap: 65px;
    position: relative;
    z-index: 5;
    width: fit-content;
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 50px;
      width: calc(100% - 100px);
      left: 50%;
      transform: translateX(-50%);
      height: 0;
      border-bottom: 1px dashed #8e82d1;
    }
  }
  .process-item {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;
    min-width: 142px;
    .process-item-icon {
      width: 99px;
      background-color: $blue;
      aspect-ratio: 1;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px dashed white;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 45px;
        left: -57px;
        width: 10px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: #f5a404;
      }
      img {
        width: auto;
        height: auto;
        max-width: 80%;
        max-height: 80%;
      }
    }
    p {
      font-size: 16px;
      line-height: 1.5;
      color: white;
      text-align: center;
    }
    &:first-child {
      .process-item-icon {
        &::before {
          content: none;
        }
      }
    }
  }
}
// END PROCESS

// START PHOTO
.photo {
  width: 100%;
  aspect-ratio: 2;
  overflow: hidden;
  background-color: $blue;
  .photo-container {
    transform: rotate(-10deg);
  }
  .photo-slide {
    padding: 10px 0;
    width: 100%;
    white-space: nowrap;
    &:first-child {
      margin-top: -120px;
    }
    &:nth-child(odd) {
      .photo-slide-list {
        animation: imageSlide linear 30s infinite reverse;
      }
    }
  }
  .photo-slide-list {
    display: inline-block;
    white-space: nowrap;
    animation: imageSlide linear 30s infinite;
  }
  .photo-slide-item {
    display: inline-block;
    width: 315px;
    aspect-ratio: 370 / 270;
    height: auto;
    border-radius: 3px;
    overflow: hidden;
    margin: 0 10px;
  }
}
// END PHOTO

// START FAQ
.faq {
  padding-top: 152px;
  padding-bottom: 125px;
  background-color: $blue;
  .faq-container {
    display: flex;
    justify-content: space-between;
    margin-top: 127px;
  }
  .faq-heading {
    color: white;
    h3 {
      font-weight: $fw-sb;
      font-size: 32px;
      letter-spacing: 0.015em;
      margin-bottom: 10px;
    }
    p {
      font-weight: $fw-l;
      font-size: 20px;
      line-height: 36px;
      letter-spacing: 0.015em;
      max-width: 316px;
    }
  }
  .faq-accordion {
    width: 50%;
    .accordion-button {
      background-color: $blue;
      color: white;
      font-weight: $fw-sb;
      font-size: 18px;
      padding: 23px 0;
      &:focus {
        box-shadow: none;
      }
      &::after {
        filter: brightness(0) saturate(100%) invert(100%) sepia(2%)
          saturate(7500%) hue-rotate(66deg) brightness(106%) contrast(102%);
      }
    }
    .accordion-item {
      background-color: $blue;
      border: none;
      border-bottom: 1px solid rgba($color: #8072d5, $alpha: 0.5);
      color: white;
      &:last-child {
        border: none;
      }
    }
    .accordion-collapse {
      p {
        font-weight: $fw-l;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.015em;
        margin-bottom: 30px;
      }
    }
  }
}
// END FAQ

// START SERVICE CONTACT
.service-contact {
  padding-bottom: 128px;
  background-color: $blue;
  .service-contact-container {
    border-radius: 20px;
    overflow: hidden;
    display: flex;
  }
  .service-contact-img {
    width: 50%;
    overflow: hidden;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .service-contact-main {
    width: 50%;
    background-color: $pink;
    padding: 41px 81px 52px 91px;
    color: white;
    h2 {
      font-weight: $fw-b;
      font-size: 36px;
      line-height: 50px;
      letter-spacing: 0.015em;
      margin-bottom: 5px;
    }
    p {
      font-weight: $fw-l;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.015em;
      max-width: 362px;
    }
  }
  .service-contact-form {
    margin-top: 25px;
    .contact-form-row {
      gap: 15px;
      .contact-form-line {
        input,
        select,
        textarea {
          padding: 10px 35px 10px 20px;
          border-radius: 5px;
          border-color: rgba($color: white, $alpha: 0.5);
          font-size: 12px;
          height: auto;
          &::placeholder {
            font-size: 12px;
          }
        }
        select {
          background-color: $pink;
          background-image: url("../images/services/arrow-down.svg");
          background-repeat: no-repeat;
          background-position: center right 14px;
          option:disabled {
            color: white;
          }
        }
      }
    }
    button {
      font-weight: $fw-sb;
      font-size: 12px;
      line-height: 14px;
      padding: 19px;
      width: 100%;
      &:hover {
        background-color: $yellow;
      }
    }
  }
}
// END SERVICE CONTACT

// START SERVICE BLOG
.service-blog {
  background-color: $blue;
  padding-bottom: 133px;
  margin-bottom: -133px;
  .service-blog-btn {
    float: right;
    margin-top: -40px;
  }
}
// END SERVICE BLOG

// START FEEDBACK
.feedback {
  padding: 18px 11px 21px 20px;
  display: flex;
  gap: 17px;
  width: 430px;
  height: 140px;
  background-color: $blue;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.45s ease-in-out;
  .feedback-img {
    width: 83px;
    aspect-ratio: 83 / 97;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
  }
  .feedback-content {
    color: white;
    h4 {
      font-weight: $fw-m;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.015em;
      margin-bottom: 6px;
    }
    span {
      display: block;
      font-weight: $fw-l;
      font-size: 12px;
      letter-spacing: 0.015em;
      margin-bottom: 7px;
    }
    p {
      font-weight: $fw-l;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.015em;
    }
  }
  &:hover {
    background-color: #2c1b97;
  }
  &.feedback-rev {
    .feedback-content {
      h4,
      span,
      p {
        text-align: left;
      }
    }
  }
}
// END FEEDBACK

// START SAYING
.saying {
  margin-top: -260px;
  position: relative;
  z-index: 5;
  background-color: $blue-2;
  margin-bottom: 140px;
  .saying-container {
    margin-top: 61px;
  }
  .saying-slider,
  .saying-slider-rev {
    padding: 10px 0;
    .swiper-slide {
      width: fit-content;
    }
  }
}
// END SAYING

// START GENERAL
.general {
  margin-bottom: 210px;
  background-color: $blue;
  .general-row {
    display: flex;
    .general-img {
      width: 50%;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--clr-img);
        opacity: 0.55;
      }
    }
    .general-wrapper {
      width: 50%;
      color: white;
      padding-right: calc((100% - 1160px) / 2);
      display: flex;
      align-items: center;
      justify-content: end;
    }
    .general-content {
      max-width: 440px;
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
}
// END GENERAL

@include extra-desktop {
  .reason {
    .reason-item {
      padding: 30px 25px;
      padding-bottom: 40px;
      &:hover {
        padding-bottom: 30px;
        .reason-item-icon {
          margin-bottom: 15px;
        }
      }
    }
  }
}

@include desktop {
  .reason {
    .reason-item {
      h3 {
        font-size: 20px;
      }
      &:hover {
        padding-bottom: 25px;
      }
    }
  }
  .service-contact {
    .service-contact-main {
      padding: 40px 50px;
    }
  }
}

@include tablet {
  #fhm-detail-service {
    .heading-block {
      .badge {
        font-size: 8px;
        padding: 5px 10px;
        margin-bottom: 5px;
      }
      // .title {
      //   font-size: 20px;
      //   line-height: 34px;
      // }
      // .desc {
      //   font-size: 14px;
      //   line-height: 32px;
      //   margin-top: 5px;
      // }
    }
    .button {
      font-size: 10px;
      padding: 10px 15px;
    }
  }
  .wave-bg {
    margin-top: -160px;
  }
  .adver {
    .adver-container {
      align-items: end;
      .heading-block {
        padding-bottom: 55px;
      }
    }
  }
  .launch {
    h2 {
      max-width: none;
      margin-bottom: 20px;
    }
  }
  .display {
    margin-top: -150px;
    padding-bottom: 100px;
    .display-heading {
      margin-bottom: 42px;
      h2,
      p {
        text-align: center;
      }
    }
    .display-slider {
      margin-bottom: 40px;
    }
    .display-statistic {
      margin-top: 48px;
      .display-statistic-el {
        h4 {
          font-size: 40px;
          margin-bottom: 5px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
  .reason {
    margin-top: -50px;
    .reason-list {
      margin-top: 40px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .process {
    .process-list {
      margin-top: 40px;
      padding: 0 20px;
    }
    .process-item {
      min-width: 149px;
    }
  }
  .feedback {
    width: 330px;
    height: 104px;
    padding: 10px;
    gap: 17px;
    .feedback-img {
      width: 80px;
    }
    .feedback-content {
      span,
      p {
        font-size: 10px;
        line-height: 14px;
      }
    }
  }
  .saying {
    margin-top: -150px;
    .saying-container {
      margin-top: 32px;
    }
  }
  .photo {
    .photo-slide {
      padding: 2px 0;
    }
    .photo-slide-item {
      width: 200px;
      margin: 0 2px;
    }
  }
  .faq {
    padding-top: 48px;
    padding-bottom: 64px;
    .faq-container {
      margin-top: 56px;
      flex-direction: column;
    }
    .faq-heading {
      h3 {
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        margin-bottom: 10px;
      }
      p {
        font-size: 14px;
        line-height: 32px;
        text-align: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .faq-accordion {
      width: 100%;
      .accordion-collapse {
        p {
          font-size: 14px;
          line-height: 2;
          margin-bottom: 28px;
        }
      }
      .accordion-button {
        padding: 20px 0;
      }
    }
  }
  .service-contact {
    .service-contact-container {
      flex-direction: column;
    }
    .service-contact-img {
      width: 100%;
      height: 356px;
    }
    .service-contact-main {
      width: 100%;
    }
  }
}

@include landscape-phone {
  .adver {
    .adver-container {
      .heading-block {
        h2 {
          font-size: 22px;
          line-height: 40px;
          margin-bottom: 5px;
        }
        .desc {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
  .display {
    margin-top: -80px;
  }
  .reason {
    .reason-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .saying {
    margin-top: -100px;
    .saying-slider {
      padding: 5px 0;
    }
  }
  .photo {
    aspect-ratio: 390 / 300;
  }
}

@include mobile {
  .wave-bg {
    margin-top: -80px;
  }
  .adver {
    aspect-ratio: 390 / 300;
  }
  .launch {
    padding-top: 60px;
    h2 {
      font-size: 20px;
      line-height: 34px;
      max-width: none;
      margin-bottom: 5px;
    }
    .launch-content {
      p {
        font-size: 14px;
        line-height: 32px;
        margin-bottom: 5px;
      }
    }
  }
  .display {
    .display-heading {
      h2 {
        font-size: 20px;
        line-height: 34px;
        text-align: center;
        margin-bottom: 5px;
      }
      p {
        font-size: 14px;
        line-height: 32px;
        text-align: center;
        margin-bottom: 5px;
      }
    }
    .display-slider {
      .display-slider-item {
        border-radius: 8px;
        &:first-child {
          margin-left: 20px;
        }
      }
    }
  }
  .reason {
    padding-top: 170px;
    .reason-list {
      grid-template-columns: repeat(1, 1fr);
      gap: 24px;
      padding: 0 20px;
      margin-bottom: 40px;
    }
    .reason-item {
      aspect-ratio: auto;
    }
  }
  .saying {
    margin-top: -30px;
    margin-bottom: 50px;
  }
  .photo {
    .photo-slide {
      padding: 0;
      &:first-child {
        margin-top: -50px;
      }
    }
    .photo-slide-item {
      width: 120px;
    }
  }
  .service-contact {
    padding-bottom: 56px;
    .service-contact-container {
      margin: 0 -12px;
    }
    .service-contact-main {
      padding: 42px 20px;
      h2 {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 5px;
      }
    }
  }
}
